.bg-dark {
    background-color: #222 !important;
}

.current-weather-card {
    background: #333;
    color: white;
    border-radius: 10px;
    border: 1px solid #444;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: none;
}

.current-weather-card:hover {
    transform: none;
}

.chart-box {
    background: #333;
    color: white;
    border-radius: 10px;
    border: 1px solid #444;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.chart-container {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

.forecast-day-card {
    background: #444;
    color: white;
    border-radius: 8px;
    padding: 20px 10px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    height: 100%;
    transition: none;
}

.forecast-day-card:hover {
    background-color: #444;
}

.weather-icon {
    width: 70px;
    height: 70px;
    margin: -10px 0;
}

.main-weather-icon {
    width: 100px;
    height: 100px;
}
